<% include('./partials/head') %>

<h1>AccuWeather Search</h1>
<form action="/result" method="GET">
    <input type="text" placeholder="zip code" name="zip">
    <input type="submit">
</form>

<% include('./partials/footer') %>