<!-- partials/head.ejs -->
<% include('partials/head')  %> 

<!-- <h1>Introduction (<%= semester %>)</h1> -->
<p>
    Outputs HTML unescaped value into the template: <%- greeting %>
</p>

<p>
    Outputs HTML escaped value into the template: <%= greeting %>
</p>

<!-- partials/footer.ejs -->
<% include('./partials/footer')  %> 
